<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Exclude existing files or directories from rewriting
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Rewrite all other requests to index.php and pass as a query parameter
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
